<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allumez.refercanada">

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Coupons_CityName"></activity>
        <activity android:name=".State_Name" />
        <activity android:name=".Coupon_Details" />
        <activity android:name=".Coupons" />
        <activity android:name=".Blog_Detail" />
        <activity android:name=".Canadian_Cities_FullListing_Activity" />
        <activity android:name=".Blog" />
        <activity android:name=".Canadian_Cities_CategoryListing_Activity" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashBoard_Activity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".International_CategorySubList_Activity" />
        <activity android:name=".International_CategoryList_Activity" />
        <activity android:name=".Canadian_Cities_CategoryList_Activity" />
        <activity android:name=".Canadian_Cities_Category_Activity" />
        <activity android:name=".Canadian_Cities_Activity" />
        <activity android:name=".Canadian_State_Listing_Activity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>